@charset "utf-8";

@CHARSET "ISO-8859-1";

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	position: relative;
    font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
}

#menu {
	line-height: 20px;
}	

#fondo { position: relative;
left: 0;
top: 0;
height: 100%;
width: 100%;
}

#fondo img { width: 100%;
height: 100%;
}

.facebook {
	float:right;
	margin-top: 50px;
	margin-right:10px;
}

.twitter {
	float:right;
	margin-top: 50px;
	margin-right:50px;
}

#contenedor {
	width:100%;
	height:340px;
}

#menu {
	background-color:#3B2113;
	float:left;
	width:115px;
	height:340px;
	padding-top:100px;
}

#menu div {
	height:25px;
	padding-left:10px;
	border-bottom:1px;
	border-bottom-style:solid;
	border-bottom-color:#FFFFFF;
}

#menu a:link
{
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	TEXT-DECORATION: none;
}

#menu a:visited {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	TEXT-DECORATION: none;
}

#menu a:active {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	TEXT-DECORATION: none;
}

#menu a:hover {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #EB008B;
	TEXT-DECORATION: none;
}

#submenu {
	background-color:#EB008B;
	float:left;
	height:340px;
	width:180px;
	padding-top:100px;
	margin-left:2px;
} 

#submenu div {
	height:25px;
	padding-left:10px;
	border-bottom:1px;
	border-bottom-style:solid;
	border-bottom-color:#FFFFFF;
}

#submenu a:link {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	TEXT-DECORATION: none;
}

#submenu a:visited {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	TEXT-DECORATION: none;
}

#submenu a:active {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	TEXT-DECORATION: none;
}

#submenu a:hover {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #3D2112;
	TEXT-DECORATION: none;
}

#main-content {
	background:rgba(216,216,14,0.3);
	float:left;
	height:340px;
	width:100%;
	margin-left:2px;
} 

.galeria img{
	margin-left:15px;
	margin-top:15px;
	margin-bottom:15px;
} 

.flechas img{
	vertical-align:middle;
	margin-left:10px;

} 

#logo {
	float:right;
	margin-right:50px;
	margin-bottom:100px;
}

