@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter-Regular'), url(../fonts/bitterRegular.woff) format('woff');
}
@font-face {
  font-family: 'Miltonian';
  font-style: normal;
  font-weight: 400;
  src: local('Miltonian'), local('Miltonian-Regular'), url(../fonts/miltonianRegular.woff) format('woff');
}
