/*--------------------------------------tipografias--------------------------------------*/
@charset "utf-8";

@CHARSET "ISO-8859-1";

/*font especial*/
@font-face {
    font-family: 'GothamRnd-Bold'; /*nombre*/
    src: url('../fonts/GothamRnd-Bold.eot');
    src: url('../fonts/GothamRnd-Bold.eot?#iefix') format('embedded-opentype'), /*para qeu funcione el ie*/
         url('../fonts/GothamRnd-Bold.woff') format('woff'),
         url('../fonts/GothamRnd-Bold.ttf') format('truetype'),
         url('../fonts/GothamRnd-Bold.svg#GothamRnd-Bold') format('svg');
	 src: url('../fonts/GothamRnd-Bold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'GothamRnd-BoldItal';
    src: url('../fonts/GothamRnd-BoldItal.eot');
    src: url('../fonts/GothamRnd-BoldItal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRnd-BoldItal.woff') format('woff'),
         url('../fonts/GothamRnd-BoldItal.ttf') format('truetype'),
         url('../fonts/GothamRnd-BoldItal.svg#GothamRnd-BoldItal') format('svg');
	 src: url('../fonts/GothamRnd-BoldItal.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamRnd-Book';
    src: url('../fonts/GothamRnd-Book.eot');
    src: url('../fonts/GothamRnd-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRnd-Book.woff') format('woff'),
         url('../fonts/GothamRnd-Book.ttf') format('truetype'),
         url('../fonts/GothamRnd-Book.svg#GothamRnd-Book') format('svg');
	 src: url('../fonts/GothamRnd-Book.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamRnd-BookItal';
    src: url('../fonts/GothamRnd-BookItal.eot');
    src: url('../fonts/GothamRnd-BookItal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRnd-BookItal.woff') format('woff'),
         url('../fonts/GothamRnd-BookItal.ttf') format('truetype'),
         url('../fonts/GothamRnd-BookItal.svg#GothamRnd-BookItal') format('svg');
	 src: url('../fonts/GothamRnd-BookItal.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamRnd-Light';
    src: url('../fonts/GothamRnd-Light.eot');
    src: url('../fonts/GothamRnd-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRnd-Light.woff') format('woff'),
         url('../fonts/GothamRnd-Light.ttf') format('truetype'),
         url('../fonts/GothamRnd-Light.svg#GothamRnd-Light') format('svg');
	 src: url('../fonts/GothamRnd-Light.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamRnd-LightItal';
    src: url('../fonts/GothamRnd-LightItal.eot');
    src: url('../fonts/GothamRnd-LightItal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRnd-LightItal.woff') format('woff'),
         url('../fonts/GothamRnd-LightItal.ttf') format('truetype'),
         url('../fonts/GothamRnd-LightItal.svg#GothamRnd-LightItal') format('svg');
	 src: url('../fonts/GothamRnd-LightItal.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamRnd-Medium';
    src: url('../fonts/GothamRnd-Medium.eot');
    src: url('../fonts/GothamRnd-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRnd-Medium.woff') format('woff'),
         url('../fonts/GothamRnd-Medium.ttf') format('truetype'),
         url('../fonts/GothamRnd-Medium.svg#GothamRnd-Medium') format('svg');
	 src: url('../fonts/GothamRnd-Medium.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamRnd-MedItal';
    src: url('../fonts/GothamRnd-MedItal.eot');
    src: url('../fonts/GothamRnd-MedItal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRnd-MedItal.woff') format('woff'),
         url('../fonts/GothamRnd-MedItal.ttf') format('truetype'),
         url('../fonts/GothamRnd-MedItal.svg#GothamRnd-MedItal') format('svg');
	 src: url('../fonts/GothamRnd-MedItal.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}

/*fin font especial




@font-face {
font-family: "GothamRnd-Bold";
src: url(http://www.marcelaueno.com.ar/fonts/GothamRnd-Bold.otf) format("opentype");
} 
 
@font-face {
font-family: "GothamRnd-BoldItal";
src: url(http://www.marcelaueno.com.ar/fonts/GothamRnd-BoldItal.otf) format("opentype");
}

@font-face {
font-family: "GothamRnd-Book";
src: url(http://www.marcelaueno.com.ar/fonts/GothamRnd-Book.otf) format("opentype");
}

@font-face {
font-family: "GothamRnd-BookItal";
src: url(http://www.marcelaueno.com.ar/fonts/GothamRnd-BookItal.otf) format("opentype");
}

@font-face {
font-family: "GothamRnd-Light";
src: url(http://www.marcelaueno.com.ar/fonts/GothamRnd-Light.otf) format("opentype");
}  

@font-face {
font-family: "GothamRnd-LightItal";
src: url(http://www.marcelaueno.com.ar/fonts/GothamRnd-LightItal.otf) format("opentype");
}

@font-face {
font-family: "GothamRnd-MedItal";
src: url(http://www.marcelaueno.com.ar/fonts/GothamRnd-MedItal.otf) format("opentype");
}

@font-face {
font-family: "GothamRnd-Medium";
src: url(http://www.marcelaueno.com.ar/fonts/GothamRnd-Medium.otf) format("opentype");
}

/*--------------------------------------general--------------------------------------*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	overflow:hidden;
	-webkit-overflow-scrolling: touch;
	color: #3B2011;
}

.textoResaltado {
 	font-weight:bold;
}

/*--------------------------------------redes sociales--------------------------------------*/
.facebook {
	float:right;
	margin-top: 25px;
	margin-right:10px;
	z-index:10;
}

.twitter {
	float:right;
	margin-top: 25px;
	margin-right:50px;
	z-index:10;
}


/*--------------------------------------barra principal--------------------------------------*/
#contenedor{
	width:100%;
	z-index:10;
	position:absolute;
	height:390px;
}

/*--------------------------------------menu--------------------------------------*/
#menu {
    background-color: #3B2113;
    height: 288px;
    min-width: 100px;
    padding-top: 117px;
    position: fixed;
    top: 25%;
    width: 12%;
    z-index: 10;
}

#menu div {
	height:31px;
	padding-left:20px;
	border-bottom:1px;
	border-bottom-style:solid;
	border-bottom-color:#FFFFFF;
}

#menu a:link
{
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #ffffff;
	TEXT-DECORATION: none;
	vertical-align: -5px;
}

#menu a:visited {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #ffffff;
	TEXT-DECORATION: none;
	vertical-align: -5px;
}

#menu a:active {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #ffffff;
	TEXT-DECORATION: none;
	vertical-align: -5px;
}

#menu a:hover {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #EB008B;
	TEXT-DECORATION: none;
	vertical-align: -5px;
}

/*--------------------------------------submenu--------------------------------------*/
#submenu{
    background-color: #EB008B;
    height: 384px;
    left: 12%;
    margin-left: 2px;
    min-width: 220px;
    padding-top: 21px;
    position: fixed;
    top: 25%;
    width: 17.9%;
    z-index: 10;
}

.botones {
	height:31px;
	padding-left:20px;
	border-bottom:1px;
	border-bottom-style:solid;
	border-bottom-color:#FFFFFF;
}

.botones img{
    margin-left: 10px;
    margin-top: 5px;
} 

.botonesultimo {
	height:31px;
	padding-left:20px;
	border-bottom:0px;
	border-bottom-style:solid;
	border-bottom-color:#FFFFFF;
}

.botonesultimo img{
    margin-left: 10px;
    margin-top: 5px;
} 

#submenu a:link {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #ffffff;
	TEXT-DECORATION: none;
	vertical-align: -5px;
}

#submenu a:visited {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #ffffff;
	TEXT-DECORATION: none;
	vertical-align: -5px;
}

#submenu a:active {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #ffffff;
	TEXT-DECORATION: none;
	vertical-align: -5px;
}

#submenu a:hover {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #3D2112;
	TEXT-DECORATION: none;
	vertical-align: -5px;
}

.submenuSelect {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #3D2112;
	TEXT-DECORATION: none;
	height:23px;
	margin-top:8px;
	padding-left:19px;
	border-bottom:1px;
	border-bottom-style:solid;
	border-bottom-color:#FFFFFF;
}

.submenuSelect img{
    margin-left: 10px;
}


.submenuSelectUltimo {
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #3D2112;
	TEXT-DECORATION: none;
	vertical-align: -5px;
	height:31px;
	padding-left:20px;
	border-bottom:0px;
	border-bottom-style:solid;
	border-bottom-color:#FFFFFF;
}

.submenuSelectUltimo img{
    margin-left: 10px;
} 

/*--------------------------------------contenido general--------------------------------------*/
#contenido{
    filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr='#50FFFFFF', endColorstr='#50FFFFFF');
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    float: left;
    height: 405px;
    left: 30.1%;
    margin-left: 2px;
    position: fixed;
    top: 25%;
    width: 69.8%;
    z-index: 10;
}

.galeria {
	position:relative;
	z-index:5;
}  

.galeria div {
	float:left;
}  

.galeria img{
	margin-top:15px;
	margin-left:15px;
}

.galeria a:link {
	font-family: GothamRnd-Bold, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #3B2113;
	TEXT-DECORATION: none;
	margin-left:15px;
}  

.galeria a:visited {
	font-family: GothamRnd-Bold, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #3B2113;
	TEXT-DECORATION: none;
	margin-left:15px;
}  

.galeria a:active {
	font-family: GothamRnd-Bold, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #3B2113;
	TEXT-DECORATION: none;
	margin-left:15px;
}  

.galeria a:hover {
	font-family: GothamRnd-Bold, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #EB008B;
	TEXT-DECORATION: none;
	margin-left:15px;
}  

#zoom,
.img01 {
	height: 370px;
    overflow: hidden;
    position: relative;
    width: 70%;
    z-index: 10;
}

.galeriaPrensa .img01,
.galeriaPrensa .img02,
.galeriaPrensa .img03,
.galeriaPrensa .img04 {
	/*
	width: 29%;
	height: 370px;
	*/
	height: 340px;
    overflow: hidden;
    width: 270px;
}

.galeriaPrensa .link01,
.galeriaPrensa .link02,
.galeriaPrensa .link03,
.galeriaPrensa .link04 {
	position: absolute;
	top: 340px;
	width: 18%;
}

.galeriaPrensa .link01 {
	left: 15px;
}

.galeriaPrensa .link02 {
	/*left: 21%;*/
	left: 285px;
}

.galeriaPrensa .link03 {
	/*left: 40%;*/
	left: 556px;
}

.galeriaPrensa .link04 {
	left: 830px;
}

.img02 {
	height: 370px;
    overflow: hidden;
    position: relative;
    width: 29%;
    z-index: 10;
}

.flechas {
	left: 3px;
    position: absolute;
    top: 380px;
    z-index: 99999;
} 

.flechas div {
   margin:0px 2px;
   vertical-align:middle;
   text-align:center;
   float:left;
} 

.flechas img{
	float:left;
	vertical-align:middle;
}  

/*--------------------------------------contenido prensa--------------------------------------*/
#contenidoPrensa{
    width: 87.8%;
	background:rgba(255,255,255,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr='#50FFFFFF', endColorstr='#50FFFFFF');
	z-index:10;
	height:405px;
	margin-left:2px;
	position: fixed;
	top: 25%;
	left: 12%;
}

.galeriaPrensa,
.galeriaProductos {
	position:relative;
	z-index:5;
}  

.galeriaPrensa div,
.galeriaProductos div {
	float:left;
}  

.galeriaPrensa img,
.galeriaProductos img {
    border: 0px;
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
}

.galeriaProductos .img02 img {
	height: 96%;
    width: auto;
}

.galeriaPrensa a:link,
.galeriaPrensa a:visited,
.galeriaPrensa a:active {
	font-family: GothamRnd-Bold, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color: #3B2113;
	TEXT-DECORATION: none;
	border:0px #FFF solid;
}    

.galeriaPrensa a:hover {
	color: #EB008B;
	TEXT-DECORATION: none;
}  

.flechasPrensa {
    left: 217px;
    position: absolute;
    top: 675px;
    z-index: 6;
} 

.flechasPrensa div {
   margin:0px 2px;
   vertical-align:middle;
   text-align:center;
   float:left;
} 

.flechasPrensa img{
	float:left;
	vertical-align:middle;
} 

/*--------------------------------------contenido locales--------------------------------------*/
.galeria360 img {
	position:relative;
	z-index:5;
}  

.galeriaLocales {
	display: table;
    position: relative;
    width: 100%;
    z-index: 5;
}  

.galeriaLocales div {
	display:table-cell;
	overflow:hidden;
}  

.galeriaLocales img{
	margin-top:15px;
	margin-left: 15px;
}

.galeriaLocales2{
    margin-left: 598px;
    margin-top: 0;
    position: absolute;
}

/*--------------------------------------logoAlmaDeJazmin--------------------------------------*/
#logo {
    position: fixed;
    right: 50px;
    text-align: right;
    bottom: 50px;
}

#logo1 {
    position: fixed;
    right: 50px;
    text-align: right;
    bottom: 50px;
}

#logo1 img{
    border:none;
   
}

#logo2 {
    position: fixed;
    right: 50px;
    text-align: right;
    bottom: 50px;
}

#logo3 {
    position: fixed;
    right: 50px;
    text-align: right;
    bottom: 120px;
}

 
/*--------------------------------------fondo completo--------------------------------------*/
.bx-container{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:0;
}

.bx-container img{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index: 101;
	display:none;
}

.bx-canvas{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}

/*--------------------------------------formularios--------------------------------------*/
#contenidoFormulario, 
#contenidoFormularioContacto {
    width: 20%;
	background:rgba(255,255,255,0.5);
	z-index:10;
    height: 335px;
    margin-left: 2px;
	padding: 70px 70px 0px;
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr='#50FFFFFF', endColorstr='#50FFFFFF');
	position: fixed;
    top: 25%;
}

#contenidoFormulario {
    left: 12%;
}	

#contenidoFormularioContacto {
	left: 30%;
}

#contenidoFormulario a,
#contenidoFormulario a:link,
#contenidoFormulario a:visited,
#contenidoFormulario a:active,
#contenidoFormularioContacto a,
#contenidoFormularioContacto a:link,
#contenidoFormularioContacto a:visited,
#contenidoFormularioContacto a:active {
	font-family: GothamRnd-Bold, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #3B2113;
	TEXT-DECORATION: none;
}

#contenidoFormulario a:hover {
	color: #EB008B;
}

#contenidoFormularioFeedback{
    width: 20%;
	background:rgba(59,33,19,0.8);
	z-index:10;
    height: 205px;
    margin-left: 2px;
	padding: 200px 70px 0px;
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
	color:#FFF;
	font-weight:bold;
	filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr='#503B2113', endColorstr='#503B2113');
	position: fixed;
	left: 30%;
	top: 25%;
}

.contacto{
    padding: 20px 0px 0px;
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
}

.contacto label{
	margin-left: 10px;
    border-right: 1px solid #3B2113;
	padding-right: 10px;
}

.contacto div{
    margin-bottom: 5px;
	border:1px solid #3B2113 ;
}

.contacto input[type='text'], 
.contacto input[type='file'],
.contacto textarea{
    padding: 3px;
    resize: none;
	margin-left: 10px;
	border: none;
    background-color: transparent;
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
}

.contacto textarea{
	width: 230px;
}

.contacto input[type='text']:focus,
.contacto input[type='file']:focus, 
.contacto textarea:focus{
    outline: none;
}

.contacto button,
.contacto input[type='submit'] {
    border: 1px solid #3B2113;
    padding: 8px 16px;
    font-weight: bold;
    background: #3B2113;
	color:#FFF;
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
}

.contacto button:hover,
.contacto input[type='submit']:hover{
    background: #EB008B;
	font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
}

.contacto button:active,
.contacto input[type='submit']:active {
    background: #3B2113;
		font-family: GothamRnd-Medium, helvetica, verdana, arial, sans-serif;
	font-size: 11px;
}

#boton {
    border: 0px solid #CED5D7;
	text-align: right;
}

#almaJazmin .az-coords {
	display: none;
}

#almaJazmin .az-zoom {
	width: 180px;
	height: 180px;
	border: 2px solid #fff;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	box-shadow: 5px 5px 5px #444;
}

#almaJazmin .az-overlay { 
    background-color: #fff;
    opacity: 0.1; 
}

#almaJazmin .az-overly {
    width: 700px;
}

#nosotros-texto a:hover {
	cursor: pointer;
}
